<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentDatabase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet1</display-name>
    <servlet-name>AdminServlet1</servlet-name>
    <servlet-class>AdminServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet1</servlet-name>
    <url-pattern>/AdminServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Save</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/Save</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet1</display-name>
    <servlet-name>StudentServlet1</servlet-name>
    <servlet-class>StudentServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet1</servlet-name>
    <url-pattern>/StudentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueServlet1</display-name>
    <servlet-name>QueServlet1</servlet-name>
    <servlet-class>QueServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet1</servlet-name>
    <url-pattern>/QueServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueServlet2</display-name>
    <servlet-name>QueServlet2</servlet-name>
    <servlet-class>QueServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet2</servlet-name>
    <url-pattern>/QueServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueServlet3</display-name>
    <servlet-name>QueServlet3</servlet-name>
    <servlet-class>QueServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet3</servlet-name>
    <url-pattern>/QueServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueServlet4</display-name>
    <servlet-name>QueServlet4</servlet-name>
    <servlet-class>QueServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet4</servlet-name>
    <url-pattern>/QueServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueServlet5</display-name>
    <servlet-name>QueServlet5</servlet-name>
    <servlet-class>QueServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet5</servlet-name>
    <url-pattern>/QueServlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavServlet</display-name>
    <servlet-name>SavServlet</servlet-name>
    <servlet-class>SavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavServlet</servlet-name>
    <url-pattern>/SavServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsDrop</display-name>
    <servlet-name>QuestionsDrop</servlet-name>
    <servlet-class>QuestionsDrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsDrop</servlet-name>
    <url-pattern>/QuestionsDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMemberServlet</display-name>
    <servlet-name>NewMemberServlet</servlet-name>
    <servlet-class>NewMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMemberServlet</servlet-name>
    <url-pattern>/NewMemberServlet</url-pattern>
  </servlet-mapping>
</web-app>